export("mst2Path.Diss",
	"sil",
	"icav.Matrix.chunk",
	"icav.Matrix.sort",
	"do.means",
	"Gap.plot",
	"gapStat.mc",
	"plot.clusterGap",
	"plot.GapStat",
	"icav.estimator.apply",
	"icav.estimator",
	"icav.gap",
	"icav.gap.mc",
	"eucmetric",
	"withinSum"
)
import(
  plotrix,
  multicore
)
useDynLib(icav)
